/* title */

#title{background-color:#ff4c68
}
#upper-title{font-family: 'Montserrat', sans-serif; font-size: 3rem; line-height: 1.5;color: white;
}
.rotated{
    transform: rotate(22deg);
}
.title-image{
    position: absolute;
}

/*features*/

#features{
    position: relative;
    z-index:1;
}
.feature-title{font-family: 'montserrat-bold', sans-serif; font-size: 1.5rem; font-weight:bold;
}
.feature-icon{
    color:#ef8172
}
.feature-icon:hover{
color:#ff4c68
}
.title-part{
    text-align: center;
    align-items:center;
}

/*testemonials*/

#testimonials{
    background-color: #ef8172
}
.testimonial{
    padding:5% 30%;
    
}
.testimonial-h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif; font-size: 3rem; color:white;
}
.testimonial-image{
    border-radius: 100%;
    padding:7% 10%;
}
em{
    font-family: 'Kdam Thmor Pro', sans-serif; font-size:1.5rem;

}
.adds{
    padding-top: 0%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 22%;
}
.press-logo{
    width:20%
}
.cardd{
    padding:1% 2%;
    text-align: center;
}
#price-heading-h1{
    font-family: 'Montserrat', sans-serif; font-size: 3rem;font-weight: bold;
}
#price-heading-h4{
    color:#8f8f8f;
    font-size:1rem;
}
.signup{
    border-width: 0.1rem;
}
.signup:hover{
    color:white;
    background-color: black;
}

/* call to action*/

#cta-h3{
    font-family: 'Montserrat', sans-serif; font-size: 3rem; line-height: 1.5;color: white ;font-weight: bold;
text-align: center;padding:0%10%;
}
.cta-button{
    padding:10% 40%
}
